@charset "UTF-8";
@font-face{
	src:url("/bts/resources/fonts/Binggrae/Binggrae-Bold.woff");
	font-family:"binggrae";	
}
@font-face {
	src: url("/bts/resources/fonts/Nanum/NanumSquareRoundB.ttf");
    font-family: "NanumSquareRoundB";
}
@font-face {
    src: url("/bts/resources/fonts/Nanum/NanumSquareRoundR.ttf");
    font-family: "NanumSquareRoundR";
}
#headsubject{
	font-family: "NanumSquareRoundB";
}
#boardForm{
	font-family: "NanumSquareRoundR";
}
table{
	font-family: "NanumSquareRoundR";
}

#acc_title{
	color:#666666;
}
#prev,#next,#pageNo{
	color:#666666;
}
#subjectText{
	font-family:"binggrae";
}
#boardForm{
	font-family:"binggrae";
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}