@charset "UTF-8";

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

:after, :before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}


.wrapper-subheader {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-top: 5px;
}

#side {
	display:inline-block;	
	float:left;
	width:30%;
}

#sidebar{
	
}

#body{
    border-left: 1px solid rgba(0, 0, 0, 0.03);
	display:inline-block;
	width:70%;
}
.submenu {
	float:right;
    margin: 5% 5% 0 0;
}

.submenu li {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    list-style: none;
}

.submenu li:before {
    content: ' ';
    height: 50%;
    display: inline-block;
    float: left;
}

.submenu li.active, .submenu li:hover {
    color: #d91c84;
}


.submenu li.active:before {
    background-color: none;
}

.submenu li .icon:before {
    content: '';
    background-size: 100%;
    width: 26px;
    height: 26px;
    float: left;
    margin: 8px 8px 0 8px;
}