@charset "UTF-8";

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

:after, :before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}


.wrapper-subheader {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-top: 5px;
}

#side {
	position:relative;
	display:inline-block;	
	float:left;
	padding:0;
	width:250px;
	margin-top:70px;
	z-index:1;
}


#body{
	position:relative;
    border-left: 1px solid rgba(0, 0, 0, 0.03);
	display:inline-block;
	width:70%;
}
.submenu {
	float:left;
    margin: 5% 5% 0 0;
    padding:0;
}
#side .title{
position:relative;
display:block;
width:100%;
height:40px;
font-size:15px;
text-align:center;
background-color:rgb(127,127,127);
line-height:40px;
border-radius:0 9px 9px 0;
}

.submenu li {
    height: 40px;
	width:190px;
    line-height: 40px;
    vertical-align: middle;
    list-style: none;
}

.submenu li:before {
    content: ' ';
    height: 50%;
    display: inline-block;
}

.submenu li.active, .submenu li:hover {
    color: #d91c84;
}


.submenu li.active:before {
    background-color: none;
}

.submenu li .icon:before {
    content: '';
    background-size: 100%;
    width: 26px;
    height: 26px;
    float: left;
    margin: 8px 8px 0 8px;
}