@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}


#sideber>.containers{
	width:1450px;
	z-index:0;
	
}

#content {
    padding-bottom: 90px;
    padding-left: 280px;
}

.wrapper-subheader {
    position: relative;
    height: 500px;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    margin-top: 5px;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}



#sideber {
	padding-bottom: 20px;
    padding-light: 300px;
  	  position: relative;
        top:-900px;
        left:300px;
        float:left;
        width:300px;
        z-index:0;
}

.submenu {
    margin: 20px 20px 20px 0;
}

.submenu li {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    list-style: none;
}

.submenu li:before {
    content: ' ';
    width: 5px;
    height: 50%;
    display: inline-block;
    float: left;
}

.submenu li.active, .submenu li:hover {
    color: #d91c84;
}


.submenu li.active:before {
    background-color: none;
}

.submenu li .icon:before {
    content: '';
    background-size: 100%;
    width: 26px;
    height: 26px;
    float: left;
    margin: 8px 8px 0 8px;
}
