@charset "UTF-8";
@font-face {
   src: url("/bts/resources/fonts/Nanum/NanumSquareRoundEB.ttf");
    font-family: "NanumSquareRoundEB";
}

@font-face {
   src: url("/bts/resources/fonts/Nanum/NanumSquareRoundB.ttf");
    font-family: "NanumSquareRoundB";
}

@font-face {
    src: url("/bts/resources/fonts/Nanum/NanumSquareRoundR.ttf");
    font-family: "NanumSquareRoundR";
}

#container{
	font-family:"NanumSquareRoundEB";
	padding-left:150px;
}
#hotelResult{
	max-width:900px;
}
#hotelImg{
	max-width:1000px;
	max-height:500px;
	width:800px;
	height:700px;
}
#reservBtn0,#reservBtn1,#reservBtn2{
	background:#666666;
	border:none;
}
#roomReserv{
	
}
#textlist {
	text-align:inherit;
}
