@charset "UTF-8";

@font-face {
	src: url("/bts/resources/fonts/Nanum/NanumSquareRoundEB.ttf");
	font-family: "NanumSquareRoundEB";
}

@font-face {
	src: url("/bts/resources/fonts/Nanum/NanumSquareRoundB.ttf");
	font-family: "NanumSquareRoundB";
}

@font-face {
	src: url("/bts/resources/fonts/Nanum/NanumSquareRoundR.ttf");
	font-family: "NanumSquareRoundR";
}

#reservMainImg {
	padding-left: 350px;
	border: 1px solid #FFF;
	width: 1650px;
	height: 400px;
	margin-bottom:30px;
}

#headsubjectText {
	padding-left: 350px;
}

#reservcontainer {
	font-family: NanumSquareRoundEB;
}

#tabslist {
	font-family: NanumSquareRoundEB;
}

#cardlist {
	font-family: NanumSquareRoundEB;	
	margin:70px;
	padding-left:30px;
	height:300px;
	
}

ul.tabs {
	margin:0px;
	padding-left: 350px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: rgb(245,245,245);
	color: #222;
}

.tab-content {
	display: none;
	background: rgb(245,245,245);
	padding: 15px;
	margin-right:255px;
	margin-left:350px;
	
}

.tab-content.current {
	display: inherit;
	max-width:1650px;
}

.card {
	position: relative;
	
	height: auto;
	max-height: 500px;
	margin: 150px;
	float: right;
	left: -250px;
}

.card-body {
	width: 120%;
	width: 300px;
	position: absolute;
	display: inline-block;
	border:1px solid #666666;
	border-top:none;
	text-align: center;
}


.card-img-top {
	width: 300px;
	hetight: auto;
	max-height: 200px;
	height:200px;
	border:1px solid #666666;
	border-bottom:none;
	
}
.btn.btn-primary{
	background:#666666;
	border-style:none;
	margin-bottom:5px;
}

.card-text {
	margin: 0 0 20px;
}