@charset "UTF-8";
@charset "UTF-8";
.body{
	position:relative;
	max-width:100%;
	height:auto;
	width:100%;
}
.body .top_content{
	width:100%;
	padding-top:100px;
	max-height:auto;
	margin-left:50%;
	margin-right:50%;
	transform:translate(-30%);
}
.body .top_content img{
	width:650px;
	height:300px;
	border-radius:10px;
}
.top_content .plan_desc{
	position:absolute;
	border:1px solid #FFFAE8;
	width:480px;
	height:300px;
	border-radius:10px;
	display:inline-block;
	margin-left:10px;
	line-height:30px;
	background-color:#FFFAE8;
}
.top_content .plan_desc h1,span,p{
	margin-left:10px;
	font-family:"Binggrae", sans-serif;
}
.top_content .plan_desc .plan_btn{
	border:1px solid rgb(127,127,127);
	background-color:rgb(127,127,127);
	color:#fff;
	border-size:border-box;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
	padding-left:20px;
	border-radius:10px;
	margin-top:50px;
	margin-left:50%;
	margin-right:auto;
	transform:translate(-50%);
	
}
.top_content .plan_desc .plan_btn:hover{
	border:1px solid rgb(127,127,127);
	background-color:rgb(80,80,80);
	color:#fff;
	border-size:border-box;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:20px;
	padding-left:20px;
	border-radius:10px;
}
.plan_myPlan{
	width:100%;
	height:auto;
}
.plan_myPlan h1{
	padding-top:30px;
	max-height:auto;
	margin-left:20%;
	margin-right:20%;
	padding-bottom:40px;
	border-bottom:1px solid black;
	
}
