@charset "UTF-8";
@font-face{
	src:url("/resources/fonts/Binggrae/Binggrae-Bold.ttf");
	font-family:"binggrae";	
}

.container{
	font-family:"binggrae";
}
#accMainImage{
	border-radius:1em;
	width:1200px;
	height:430px;
}
#writeBtn{
	background:#666666;
	border:1px solid #666666;
}
#acc_title{
	color:#666666;
}
#prev,#next,#pageNo{
	color:#666666;
}
