@charset "UTF-8";

/***********************************
*GLOBAL
***********************************/
body {
	overflow-x: hidden;
	font-family: 'NotoSansKR', sans-serif;
	background: white;
	position: relative;
	margin:0;
	padding:0;
}

/******************************
***         HEADER          ***
******************************/
#header {
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 200;
	margin:0;
	-webkit-transition: background 300ms, height 200ms;
	transition: background 300ms, height 200ms;
}
.header_control_container{
	height:100px;
}
/*LOGO*/
.header_logo img {
	width: 130px;
	height: 70px;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 2;
	margin-left: 40px;
}

.header_logo img:hover {
	width: 130px;
	height: 70px;
	content: url(/bts/resources/image/logo/흰색/logo_white.png);
}

/*MENU*/
.menu_container {
	width: 100%;
	position: absolute;
	font-size: 0;
	line-height: 1;
	text-align: center;
	z-index: 1;

}

#menu {
	margin-top: 20px;
	text-align: center;

}

#menu:after {
	content: '';
	display: table;
	clear: both;
}

#menu a {
	display: block;
	line-height: 1.7;
	text-decoration: none;
}

/*1depth*/
#menu>li {
	padding: 24px 24px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
}

#menu>li>a {
	position: absolute;
	font-family: 'Binggrae', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #222;
	letter-spacing: 0.025em;
	display: block;
	overflow: hidden;
}

#menu>li:before {
	font-family: 'jt-font';
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	color: lightgray;
	display: block;
	position: absolute;
	left: 50%;
	top: 5px;
	-webkit-transform: scale(0.9) translateX(-50%);
	-ms-transform: scale(0.9) translateX(-50%);
	transform: scale(0.9) translateX(-50%);
	content: '\e910';
	opacity: 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

html #menu>li:hover>a, #menu>li.active>a {
	color: white;
}

#menu>li>a {
	display: inline-block;
	position: relative;
	transition: -webkit-transform 500ms;
	transition: transform 500ms;
	transition: transform 500ms, -webkit-transform 500ms;
	-webkit-transition: -webkit-transform 500ms;
	-moz-transition: transform 500ms; /* overflow: hidden; */
}

#menu>li>a:after {
	width: 100%;
	content: attr(data-hover);
	position: absolute;
	top: -30px;
	left: 0;
	transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

/*MEMBER*/
.member_menu {
	position: absolute;
	right: 70px;
	top: 50px;
}

.member_menu a {
	padding-left: 27px;
	margin-right: 20px;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.025em;
	color: white;
	font-family: 'Binggrae', sans-serif;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

html .member_menu a:last-child {
	margin-right: 0;
}

.member_menu .login:before {
	font-family: 'jt-font';
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: lightgray;
	display: block;
	position: absolute;
	left: 0;
	content:url("/bts/resources/image/icon/login.png");
	
}
.member_menu .signup:before {
	font-family: 'jt-font';
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: lightgray;
	display: block;
	position: absolute;
	left: 0;
	content:url("/bts/resources/image/icon/signup.png");
}
html .member_menu a:hover {
	color: rgb(127, 127, 127);
}
.bg{
	background-color:gray;
	opacity:0.8;
}
